USE [master]
GO
/****** Object:  Database [ExcelReader]    Script Date: 16/08/2019 02:49:18 ******/
CREATE DATABASE [ExcelReader]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExcelReader', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ExcelReader.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExcelReader_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ExcelReader_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExcelReader].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExcelReader]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 16/08/2019 02:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Name] [nvarchar](70) NULL,
	[Price] [decimal](16, 2) NULL,
	[DeliveryPrice] [decimal](16, 2) NULL,
	[Code] [nvarchar](50) NULL,
	[Comment] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
